.layout-box{
    display: flex;
    flex-direction: column;
    height:100%;
    overflow: hidden;

    /* .page-content{
        flex-grow:1;
        overflow-y: :scroll;
    } */
}


.top-bar{
    width:100%;
    height:68px;
    background-color: rgb(240, 9, 9);
    box-shadow: opx 0px 10px rgba(black,0.15);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

}

.top-bar h1{
    color: white;
    font-size: 25px;
}